<!-- mini_fb/show_all_profiles.html -->
{% extends 'mini_fb/base.html' %}
{% block content %}
<h2>Showing all Profiles</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Hometown</th>
        <th>Image</th>
    </tr>
    {% for p in profiles %}
    <tr>
        <td>
            <a href="{% url 'show_profile_page' p.pk %}">{{p.first_name}} {{p.last_name}}</a>
        </td>
        <td>{{p.city}} </td>
        <td>
            <a href="{% url 'show_profile_page' p.pk %}">
                <img src="{{p.profile_image_url}}" style="max-height: 150px;" />
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}